@media screen and (min-width: 761px){
    #hero{
        content: url('../assets/menstrual-hero_desktop.jpg')
        
    }
    #hero-overlay-text{
        font-size:20pt;
    }
    #hero-shop-button{
        display: none;
    }
    #hero-trial-button{
        display: inline;
    }
    #bamboo{
        content: url('../assets/bamboo_desktop.jpg')
    }
    #bamboo-overlay-text{
        font-size:20pt;
    }
    #pad-detail-image{
        content:url('../assets/pad_detail_desktop.jpg')
    }
    #pad-hand-image{
        content:url('../assets/pad_in_hand_desktop.jpg')
    }
    #new-customer-image{
        content:url('../assets/new-to-public-goods_desktop.jpg')
    }
}

@media screen and (max-width: 760px){
    #hero{
        content: url('../assets/menstrual-hero_mobile.jpg')
    }
    #hero-shop-button{
        display: inline;
    }
    #hero-trial-button{
        display: none;
    }
    #hero-overlay-text{
        font-size:12pt;
    }
    #bamboo{
        content: url('../assets/bamboo_mobile.jpg')
    }
    #bamboo-overlay-text{
        font-size:12pt;
    }
    #pad-detail-image{
        content:url('../assets/pad_detail_mobile.jpg')
    }
    #pad-hand-image{
        content:url('../assets/pad_in_hand_mobile.jpg')
    }
    #new-customer-image{
        content:url('../assets/new-to-public-goods_mobile.jpg')
    }
}